#tytul {
    text-align: center;
    color: rgb(56, 10, 10);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(220, 20, 130);
    padding: 30px;
  }
  #tytul1 {
    text-align: center;
    color: rgb(56, 10, 10);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(203, 20, 220);
    padding: 30px;
  }
  #tytul2 {
    text-align: center;
    color: rgb(56, 10, 10);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(113, 20, 220);
    padding: 30px;
  }
  #tytul3 {
    text-align: center;
    color: rgb(56, 10, 10);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(20, 163, 220);
    padding: 30px;
  }
  #tytul4 {
    text-align: center;
    color: rgb(56, 10, 10);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(20, 220, 127);
    padding: 30px;
  }
  #tytul5 {
    text-align: center;
    color: rgb(56, 10, 10);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(190, 220, 20);
    padding: 30px;
  }
 
  a:link, a:visited {
    background-color: rgb(56, 10, 10);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25;
    margin: auto;
    width:13%;
    ;
  }
  
  a:hover, a:active {
    background-color: darkred;
    color:black;

  }
  body{
      background-color:black;
      padding: 20px;
      text-align: center;
  }
  p{
      text-align: center;
      font-size: 45px;
      color: rgb(220, 20, 130);
  }
  .a {
    float: left;
    width: 100%; 
    padding: 200px;
  }
  .topnav{
  position: relative;
  z-index: 2;
  font-size: 17px;
  background-color: #5f5f5f;
  color: #f1f1f1;
  width: 100%;
  padding: 0;
  letter-spacing: 1px;
  font-family: "Segoe UI",Arial,sans-serif;
  }
  #fire{
    
    position: relative;
    width: 40%;
    margin-left: 60px;
  
      
  }
  #janior{
    position: relative;
    width: 40%;
    margin-left: 14%;
  }
#zmien{
  background-color: rgb(203, 20, 220);
  border: none;
  color: rgb(56, 10, 10);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#fioletowy2{

 position: relative;
  margin-left:260px;
}

.title{ 
    margin-bottom: 100px; 
    text-align:center; 
    width: 2100px; 
    color:rgb(113, 20, 220); 
    border: solid black 20px; 
    } 

    input[type="button"] 
    { 
    background-color:rgb(113, 20, 220); 
    color: black; 
    border: solid black 20px; 
    width:100% 
    } 

    input[type="text"] 
    { 
    background-color:white; 
    border: solid black 20px; 
    width:100% 
    } 
   
#pies1{
margin-top: 1%;
width: 40%;
}
#pies2{
margin-top: 1%;
width: 39.3%;
}
  #kalkulator
  {
    margin:auto;
    margin-top: 1%;
  }
  #data{
    color: rgb(20, 220, 127);

  }
  #button2{
    background-color: rgb(20, 220, 127);
  border: none;
  color: rgb(56, 10, 10);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
 #stopka{
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(56, 10, 10);
    color: white;
    text-align: center;
  }

  
 